<form method="post">
	<input type="hidden" name="direction" value="N">
	<input type="submit" value="Идти на север">
</form>
<form method="post">
	<input type="hidden" name="direction" value="S">
	<input type="submit" value="Идти на юг">
</form>
<form method="post">
	<input type="hidden" name="direction" value="E">
	<input type="submit" value="Идти на восток">
</form>
<form method="post">
	<input type="hidden" name="direction" value="W">
	<input type="submit" value="Идти на запад">
</form>
