.xdebug-error {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
}

.xdebug-error th span {
    background-color: transparent;
}

.xdebug-error th i {
    color: floralwhite;
}

/*************************
  NOTIFICATION
 *************************/

.toast {
	position: absolute;
	font-family: 'Poppins', sans-serif;
	top: 25px;
	right: 30px;
	width: fit-content;
	display: flex;
	border-radius: 12px;
	background: #fff;
	padding: 20px 45px 20px 25px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
	cursor: pointer;
}

.toast-content {
	display: flex;
	align-items: center;
}

.toast-content .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	min-width: 35px;
	background-color: #4070f4;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
}

.toast-content .message {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.message .text {
	font-size: 16px;
	font-weight: 400;
	color: #666666;
}

.message .text.text-1 {
	font-weight: 600;
	color: #333;
}


/************
Notification
 */

.close {
	position: absolute;
	top: 10px;
	right: 5px;
	padding: 5px;
	cursor: pointer;
	opacity: 0.7;
	height: 25px;
	min-width: 25px;
}

.close:hover {
	opacity: 1;
}

.alertCheckbox {
	display: none;
}

:checked + .alert {
	display: none;
}

.alertClose {
	float: right;
	padding-top: 5px;
	font-size: 10px;
}

.clear {
	clear: both;
}

.info {
	background-color: #EEE;
	border: 1px solid #DDD;
	color: #999;
}

.success {
	background-color: #EFE;
	border: 1px solid #DED;
	color: #9A9;
}

.notice {
	background-color: #EFF;
	border: 1px solid #DEE;
	color: #9AA;
}

.warning {
	background-color: #FDF7DF;
	border: 1px solid #FEEC6F;
	color: #C9971C;
}

.error {
	background-color: #FEE;
	border: 1px solid #EDD;
	color: #A66;
}
