<link href="css/auth.css" rel="stylesheet"/>

<div class="signin">
    <div class="content">
        <h2>Авторизация</h2>

        <form class="form">
            <div class="inputBox">
                <input name="user" type="text" required> <i>Логин</i>
            </div>

            <div class="inputBox">
                <input name="password" type="password" required> <i>Пароль</i>
            </div>

            <div class="inputBox">
                <input type="submit" value="Играть">
            </div>
        </form>
    </div>
</div>
